html.dashboard{
  body{
    .navbar{
      margin-bottom: $spacer * 2;
      background: #fff;

      .navbar-toggler{
        position: absolute;
        top: 22px;
        right: 8px;
      }
      .navbar-brand{
        padding-top: 0;

        @include media-breakpoint-down(sm) {
          float: none;
          margin: 0 auto;
          display: block;

          > img{
            margin: 0 auto;
          }
        }
      }
      #MainNav{
        ul.nav.navbar-nav{
          @include media-breakpoint-down(sm) {
            text-align: center;
          }
        }
      }
    }
  }
}